<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
  <div class="my-auto" id="experience-content">
    <h2 class="mb-5">Experience</h2>
    {{ range .Site.Data.experience }}
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <div class="d-flex">
              <h3 class="mb-0">{{ .role }}</h3>
              <h3 class="mb-0 ml-1 mr-1">@</h3>

                
              <h3 class="mb-0 colheading"> <a class="colheading" target="_blank" href="{{.link}}">{{ .company | markdownify }}</a></h3>
              <!-- <div class="subheading mb-3">{{ .company | markdownify }}</div> -->
            </div>
            <p>{{ .summary | markdownify }}</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{ .range }}</span>
          </div>
        </div>
    {{ end }}
  </div>

</section>
